<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


    <div class="container">
        <div class="row">
			<div class="col-md-5 mx-auto">
			<div id="first">
				<div class="myform form ">
					 <div class="logo mb-3">
						 <div class="col-md-12 text-center">
							<h1>Iniciar Sesion</h1>
						 </div>
					</div>
                   <form name="login" id="loginForm">
                           <div class="form-group">
                              <label for="exampleInputEmail1">Nombre de Usuario</label>
                              <input type="text" name="usuario"  class="form-control" id="usuario" aria-describedby="emailHelp" placeholder="Ingresa tu Usuario">
                           </div>
                           <div class="form-group">
                              <label for="exampleInputEmail1">Contraseña</label>
                              <input type="password" name="password" id="password"  class="form-control" aria-describedby="emailHelp" placeholder="Ingresa tu Contraseña">
                           </div>

                           <div class="col-md-12 text-center" style="margin-top:3vh;">
                              <button type="button" class=" btn btn-block mybtn btn-primary tx-tfm" id="boton">Iniciar</button>
                           </div>
                           
                           <div class="form-group" style="margin-top: 2vh;">
                              <p class="text-center">No tenes cuenta? <a href="/registro" id="signup">Registrate aca!</a></p>
                              <p class="text-center"><a href="/admin/panel" id="signup">Admin?</a></p>
                           </div>
                        </form>
                 
				</div>
			</div>
			  
			</div>
		</div>
      </div>   
         
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>         
<script>
    // document
    // window -> 
    // listener (evento, callback/funcion)
    window.addEventListener('load', () => {
        console.log("Cargado..")
        document.getElementById('boton').addEventListener('click', botonApretado);
    });

    const botonApretado = () => {
       try{
        const datos = new URLSearchParams(new FormData(document.getElementById('loginForm')));
        // fetch
        fetch('/login', {
            
            method: 'POST',
            body: datos,
            
        })
            .then(response => response.json())
            .then(data => message(data));
    }catch(error){
       console.log(error);
    
    }
    const message = (datos) => {
        if (datos.success == true) {
            Swal.fire({
                position: 'center',
                icon: 'success',
                title: 'Bienvenido! 🤞',
                showConfirmButton: true,
            })
        }
         else {
            Swal.fire({
                position: 'center',
                icon: 'error',
                title: 'Usuario o contraseña incorrecta.',
                showConfirmButton: true,
            })
        }
    }}
</script>